/* ---- Heading 1 ---- */
h1 {
  text-align: center;
  margin: auto;
  padding: 5px;
  border-bottom: 2px solid black;
  width: 500px;
  font-size: 60px;
  font-family: myFirstFont;
  /* border: 3px solid green */
}

/* ---- Heading 2 ---- */
h2 {
  text-align: center;
  margin: auto;
  width: 600px;
  padding: 10px;
  padding-bottom: 25px;
  font-size: 36px;
  font-family: myFirstFont;
  /*border: 3px solid green*/
}

/* ---- LINK BAR ---- */
.topnav {
  text-align: center;
  padding: 20px;
  margin: auto;
  width: 600px;
  /*border: 3px solid green*/
}

.topnav a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-family: myFirstFont;
  font-size: 25px;
  /*border: 3px solid green*/
}

/* ---- Image ---- */
/* ---- FONT ---- */
@font-face {
  font-family: myFirstFont;
  src: url(../Photography/assests/fonts/MICKEY.TTF);
}
